/* styles.css */
.background {
    background: linear-gradient(90deg, #54ac8c, #0c6c6c);
    background-blend-mode: multiply;

}

.applicationTxt {
    font-family: "Roboto Slab", serif;
    font-size: 20px;
    font-style:normal;
    color:#020202;
}

body {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
    height: 480px;
    width: 500px;
}

.stat-name {
    font-weight: bold;
    text-align:center;
    font-size: 24px;
    color: #34a084;
}

.stat-value {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    text-align: center;
}

